
// Utilities
// ---------------------------------------

%section-pad {

}
%ttu {
    text-transform: uppercase;
}
%svg {
    svg {
        width: 100%;
        height: 100%;
    }
}
%vam {
	display: inline-block;
	vertical-align: middle;
}
%link-style {
	cursor: pointer;
	color: $primary;
}
%link-style_hover {
	cursor: pointer;
	color: $dark-gray;
	text-decoration: underline;
}
%button-style {
	transition: none;
	margin: 0;
	padding: 0.8em 1em 0.6em 1em;
	font-size: 1.1em;
	line-height: 1.3;
	color: $w;
	font-weight: bold;
	text-align: left;
	border-radius: 0;
	border: 1px solid transparent;
	@include transition;
}
%button-style-small {
	@extend %button-style;
}
%button-style_hover {
	text-decoration: underline;
}
%list-style {
	list-style: none;
	position: relative;
	@include pseudo;
	&:before {
		width: 5px;
		height: 5px;
		background: $b;
		position: absolute;
		left: -1.2em;
		top: 0.45em;
		// @if $d-rad != 0 {
			border-radius: 100%;
		// }
	}
}
%no-list {
	margin: 0;
	padding: 0;
	list-style: none;
	> li {
		margin: 0;
		padding: 0;
		list-style: none;
		&:before {
			display: none;
		}
	}
}

// Forms
%form-style {
	padding: 0.7em 0.6em 0.5em 0.6em;
	font-size: 1.1em;
	height: auto;
	border: 1px solid $light-gray;
	margin: 0 0 0.75em 0;
	box-shadow: none;
	border-radius: 0;
	appearance: none;
	&:focus, &:active {
		box-shadow: none;
		border-color: $medium-gray;
	}
}
%custom-select {
	background-color: $w;
	background-position: center right 0.25em;
	background-size:16px 9px;
	padding: 0.95em;
}
%checkbox {
	appearance: none;
	cursor: pointer;
	border-radius: $d-rad;
	width: 1.25em;
	height: 1.25em;
	margin: 0;
	border: 1px solid $medium-gray;
	background: $w;
	@include transition;
	&:hover, &:focus, &:active {
		border-color: $dark-gray;
	}
	&:before {
		@include transition;
		color: $primary;
		font-size: 1.15em;
		opacity: 0;
	}
	&:checked {
		&:before {
			opacity: 1;
		}
	}
}
%error-message {
	padding: 0;
	color: $w;
	// color: $w;
	border: 0;
	margin-top: -0.25rem;
	margin-bottom: 1rem;
	font-weight: bold;
}
%success-message {
	padding: 1em;
	background: $success;
	color: $w;
	border: 0;
	font-weight: bold;
}




