
// Variables
$w: #fff;
$b: #000;
$light-gray: #E6E6E6;
$primary: #1673A3;
$secondary: #0E567B;
$medium-gray: #6D6D6D;
$dark-gray: #3c3c3c;
$success: #0D6C51;
$error: #93011B;
$error_fade: #F4E6E8;
$d-time: 0.3s;
$d-ease: ease-in-out;
$d-rad: 4px;

@import "utility/mixins";
@import "utility/util";

@function rem-calc($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

html, body {
	font-family: 'Noto Sans', sans-serif;
	color: $dark-gray;
	padding: 0;
	margin: 0;
}

// Breakpoints
$large: 1140px;
$medium: 768px;
$small: 420px;

$gutter: 16;

.vh {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.copy-container {
	max-width: 720px;
	p:last-child {
		margin-bottom: 0;
	}
}
p {
	line-height: 1.75;
}
h1, .insights-heading-xl {
	font-size: rem-calc(28);
	line-height: 1.25;
	outline: none;
	@include min-media($medium) {
		font-size: rem-calc(48);
		line-height: 1.15;
	}
}
h2, .insights-heading-l {
	font-size: rem-calc(24);
	line-height: 1.25;
	@include min-media($medium) {
		font-size: rem-calc(36);
		line-height: 1.15;
	}
}
h3, .insights-heading-m {
	font-size: rem-calc(20);
	line-height: 1.3;
	@include min-media($medium) {
		font-size: rem-calc(24);
		line-height: 1.25;
	}
}
h4, .insights-heading-s {
	font-size: rem-calc(18);
	line-height: 1.4;
}
@for $i from 1 through 6 {
	h#{$i} {
		margin: 0;
		margin-bottom: 0.75rem;
		color: $dark-gray;
		em {
			font-style: normal;
		}
		span {
			color: $medium-gray;
		}
	}
}

$evaluator_size: 840px;
.row {
	max-width: $evaluator_size;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	@include min-media($medium) {	
		padding-right: rem-calc($gutter/2);
		padding-left: rem-calc($gutter/2);
	}
}
.columns {
	padding-right: rem-calc($gutter);
	padding-left: rem-calc($gutter);
	box-sizing: border-box;
}
.button, button {
	font-weight: bold;
	text-align: center;
	@include transition;
	box-sizing: border-box;
	border-radius: $d-rad;
	font-size: 1em;
	line-height: 1.75;
	display: inline-block;
	padding: 0.5em 1.25em;
	cursor: pointer;
	&.primary {
		border: 2px solid $primary;
		background: $primary;
		color: $w;
		@include st {
			border-color: $secondary;
			background: $secondary;
		}
	}
	&.secondary {
		border: 2px solid $primary;
		color: $primary;
		background: transparent;
		@include st {
			border-color: $secondary;
			background: $secondary;
			color: $w;
		}
	}
	@include st {
		text-decoration: underline;
	}
}

header {
	background: $w;
	box-shadow: 0 2px 16px rgba(0,0,0,0.15);
	padding: 1.35rem 0 1.25rem 0;
	strong {
		display: none;
		@include min-media($medium) {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	#branding {
		width: rem-calc(124);
		height: auto;
		@include min-media($medium) {
			width: rem-calc(132);
		}
		img {
			width: 100%;
		}
	}
	.columns {
		flex: 0 1 auto;
		width: 100%;
	}
}
#evaluator {
	padding: 2rem 0 4.5rem 0;
	@include min-media($medium) {
		padding: 3.5rem 0 6rem 0;
	}
	.intro {
		// @include min-media($medium) {
			margin-bottom: 1rem;
		// }
	}
	.main {
		.columns > .inner {
			position: relative;
		}
	}
	.submit {
		margin-bottom: 0rem;
		@include min-media($medium) {
			margin-top: 3.5rem;
		}
	}
	.columns {
		flex: 0 1 auto;
		width: 100%;
	}
}
ul.frames {
	@extend %no-list;
	> li {
		overflow: hidden;
		height: 0;
		&.active {
			height: auto;
			.snap-targets {
				display: block;
			}
		}
	}
}
.progress-bar {
	height: 0.5rem;
	width: 100%;
	position: relative;
	background: $light-gray;
	margin-top: 1.5rem;
	display: block;
	.complete {
		height: 100%;
		display: block;
		@include transition;
		background: $secondary;
	}
}
$drag-w: 20rem;
$drag-w-m: 18rem;
$drag-h: 7rem;
$drag-margin: 0.75rem;
.snap-targets {
	display: none;
	@extend %no-list;
	padding-bottom: 3.5em;
	@include min-media($medium) {
		padding-bottom: 0;
	}
	li {
		padding-left: 5.25em;
		position: relative;
		margin-bottom: $drag-margin;
		&:last-child {
			margin-bottom: 0;
		}
		@include media($medium, $evaluator_size) {	
			padding-left: 6.5em;
		}
		@include min-media($evaluator_size) {
			padding-left: 7.5em;
		}
		h4 {
			width: 4em;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			margin-bottom: 0;
			@include min-media($medium) {
				width: 6em;
			}
		}
	}
}
.snap-target {
	// @include transition;
	display: block;
	min-height: 4.175rem;
	border: 2px dashed #b3b3b3;
	border-radius: $d-rad;
	max-width: 600px;
	box-sizing: border-box;
	position: relative;
	@include media($medium, $evaluator_size) {	
		max-width: $drag-w-m;
		min-height: 6.25em;
	}
	@include min-media($evaluator_size) {	
		max-width: $drag-w;
		min-height: 6.25em;
	}
	span {
		color: $medium-gray;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		// max-width: 220px;
		width: 100%;
		padding-left: 1.5em;
		padding-right: 1.5em;
		text-align: center;
		display: block;
		@extend p;
		box-sizing: border-box;
	}
	&.invalid {
		background: $error_fade;
		color: $error;
		border-color: $error;
		min-height: 6.25rem;
		span {
			font-weight: bold;
			color: $error;
		}
	}
}
.statement {
	width: 100%;
	max-width: 600px;
	border-radius: $d-rad;
	border: 2px solid $primary;
	box-sizing: border-box;
	padding: 0.9em 0.75em 1em 0.75em;
	padding-left: 2.5em;
	background: $w;
	cursor: grab;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	@include min-media($medium) {
		left: auto;
		right: 0;
		min-height: $drag-h;
		padding: 1.2em 1em 1.15em 1em;
		padding-left: 3em;
	}
	@include media($medium, $evaluator_size) {	
		max-width: $drag-w-m;
	}
	@include min-media($evaluator_size) {	
		max-width: $drag-w;
	}
	.inner {
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 0.75em;
			height: 1.25em;
			position: absolute;
			top: 0.225em;
			left: -1.5em;
			background: url('../img/drag.svg');
			@include min-media($medium) {
				top: 0.225em;
				left: -1.75em;
			}
		}
	}
	p {
		font-weight: bold;
		@extend h4;
		margin: 0;
	}
	&.ui-draggable-dragging {
		box-shadow: 0 4px 12px rgba(0,0,0,0.2);
		// transform: rotate(3.5deg);
	}
	&.dropped {
		@include max-media($medium) {	
			min-height: 4.175rem;
		}
	}
}
select {
	font-size: 1em;
	padding: 0.25em 0.25em 0.25em 0;
	border: 0;
	border-bottom: 1px solid #ccc;
}
.drop-zone-select {
	display: none;
	@media only screen and (min-width: 768px) {
		display: block;
		margin-bottom: -0.35em;
		margin-top: 0.25em;
		select {
			margin-left: -0.175em;
		}
	}
}
.form {
	display: none;
	visibility: hidden;
	@extend .vh;
}
.submit {
	@include clear;
	#next {
		float: right;
	}
	#prev {
		float: left;
	}
	.holder {
		display: block;
		border-top: 1px solid $light-gray;
		padding-top: 1.25rem;
	}
	@include max-media($small) {	
		.button {
			display: block;
			width: 100%;
			margin-bottom: 1.25em;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.error {
	margin: 0 0 1.25em 0;
	background: $error_fade;
	color: $error;
	font-weight: bold;
	@extend p;
	@extend .copy-container;
	border-radius: $d-rad;
	padding: 0.815em 1.2em;
}



